
#header-nav{
    background-color: grey;
    border-radius: 0px;
    border:3px solid black;
}
.navbar-header button.navbar-toggle{
    clear:both; 
    margin-top:-50px;
    border: 2px solid black;

}
button.navbar-toggle:hover{
    border:1px solid white;
}
#nav-list {
    color:black;
    text-align: center;
    border:1px solid black;
    margin-bottom:0px;
    background-color: white;
  }
#nav-list li{
    border:1px solid black;
}
#main-content{
    margin-top:-20px;
}
.row h1{
    font-weight: 900;
}
#para{
    background-color:grey;
    margin-bottom: 10px;
    font-size: 16px;
    height:1000px;
    
}
h5{
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 900;
}

@media (max-width: 767px) {
    #header{
        margin-left:15px;
    }
    #para{
        margin: 10px 50px 10px 50px;
    }
}
